<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- development version, includes helpful console warnings -->

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="map_sel.css">
        <title>Ghost Hunter's Guide</title>
    </head>

    <body class='hidden-overflow eve-mode'>
        <div id="app" >
            <div class="circle-container"  v-if="!mapSelected">
                <div class="modal-cover"></div>
                <h4 class="modal-title">
                    <!-- <i class="Three-d left-lighted downwards equilateral arrowhead"></i> -->
                    <div class="modal-title">
                        <p @click="rotateModal()">&#11160;</p>
                        <p>Map Selection</p>
                        <p @click="rotateModal()">&#11162;</p>
                    </div>
                    <p class="down-arrow">&#11163;</p>
                </h4>
                <div class="rotate-slider">
                    <ul class="slides">
                      <li v-for="map in mapOptions"  :class="map.name" @click="setBodyClass(map.name)">
                        <div class="inner">
                          <h2>{{map.name.replace('-', '\n')}}</h2>
                        </div>
                      </li>
                    </ul>
                    </div>
                    <svg>
                        <defs>
                            <clipPath id="slideClip">
                            <path />
                            </clipPath>
                        </defs>
                    </svg>
            </div>
<!-- 
            <div v-if="!mapSelected" class="map-selection-pop-up"> 

                    <div>
                        <div v-for="map in mapOptions" class="map-card">
                            <h4>{{map.name}}</h4>
                            <img v-bind:src="map.url" alt="" @click="setBodyClass(map.name)">
                        </div>
                    </div>
            </div> -->
            
            <h1 v-if="mapSelected" id="Page-head">Ghost Hunter's Guide</h1>
            <!-- Ghost list for calen to mess with -->
            <div v-if="mapSelected">
                <!-- <div>
                    <label>Eve is Blind Mode</label>

                    <input onclick="document.body.classList.toggle('eve-mode')" type="checkbox">
                </div> -->
                
                
                <!-- Hard Evidence List -->
                <ul id="hard-evidence">
                    <li onClick="app.clickEvidence(this.innerHTML)">EMF 5</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">Fingerprints</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">Ghost Writing</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">Freezing Temps</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">D.O.T.S Projector</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">Ghost Orb</li>
                    <li onClick="app.clickEvidence(this.innerHTML)">Spirit Box</li>
                </ul>
                <!-- End of Hard Evidence List -->
                <!-- Calen's going to rebuild the evidence list with vue here -->
                <!-- <ul id="evidence-list">
                    <li v-for="evidence in hardEvidence" v-on:click="clickEvidence(evidence)">
                        {{evidence}}
                    </li>
                </ul> -->
            </div>
            
            <ul id="ghost-list" v-if="mapSelected">
                <li>
                    <H3>Spirit</H3>
                    <journal-entry>
                        <p>
                        Spirits are very common ghosts. They are very powerful, but passive, only attacking when they need to.
                        </p>
                        <p>
                        They defend their place of death to the utmost degree, killing anyone that is caught overstaying their welcome.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Spirit Box</li>
                        <li>Ghost Writing</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Spirits have no outstanding strengths.
                        <br>
                        <br>
                        <b>Weakness:</b> A Spirit can be temporarily stopped by burning Smudge Sticks near them.
                        </p>
                    </div>
                    <div id="ghost-behavior">
                        <p>
                            Spirits have no unique behavior and can easily be mistaken for another entity. Once the sanity average is below 50%, smudge the ghost while it is not hunting. If it hunts within the next three minutes, it is <i><u>not</u></i> a Spirit.
                        </p>
                        <div id="ghost-tip">
                            <p>
                                <b>Note:</b> <i>Due to the Spirit's generic behavior, it's easily mistaken for other ghost types.</i>
                            </p>
                        </div>
                        <div id="nightmare-tip">
                            <b>Nightmare Tip:</b> Players should wait for a hunt or a burnt crucifix to confirm that the average sanity is low enough.
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Poltergeist</h3>
                    <journal-entry>
                        <p>    
                        One of the most famous ghosts, the Poltergeist. Known to manipulate objects around it to spread fear into its victims.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                            <li>Spirit Box</li>
                            <li>Fingerprints</li>
                            <li>Ghost Writing</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Poltergeist can throw multiple objects at once, and with great force.
                        <br>
                        <br>
                        <b>Weakness:</b> With nothing to throw, Poltergeists become powerless.
                        </p>
                    </div>
                    <div id="ghost-behavior">
                        <div id="ghost-strat">
                            <p>
                                To test if it is a Poltergeist, one can scatter items in small piles around the ghost room. If an object is flung with force, or multiple objects are thrown, it is likely a Poltergeist.
                            </p>
                        </div>
                        <div id="ghost-tip">
                            <p>
                            <b>Note:</b> There is some overlap of how frequently other ghost types can throw items, this trait may be harder to discern in small rooms.
                            </p>
                        </div>
                        <div id="nightmare-tip">
                            <b>Nightmare Tip:</b> <i>No extra information at this time.</i>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Mare</h3>
                    <journal-entry>
                        <p>    
                        A Mare is the source of all nightmares, making it most powerful in the dark.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Ghost Orb</li>
                        <li>Ghost Writing</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> A Mare will have an increased chance to attack in the dark.
                        <br>
                        <br>
                        <b>Weakness:</b> Turning the lights on around the Mare will lower its chance to attack.
                        </p>
                    </div>
                    <div id="ghost-behavior">
                        <p>
                            Mares cannot turn lights on, and are more likely to turn the lights off as an interaction, or perform light-shattering events. If a light, TV, or computer is activated within 4 metres of the Mare, it might promptly switch off. This has a minimum 10-second cooldown between interactions. Finally, when a Mare roams, it is more likely to choose an unlit room. 
                        </p>
                        <div id="ghost-tip">
                            <p>
                                <b>Note:</b> If the lights are off, the hunt sanity threshold is 60%, if the lights are on, it is decreased to 40%. Other sources of light, such as brought-in equipment and candles, do not affect this threshold.
                            </p>
                        </div>
                        <div id="nightmare-tip">
                            <b>Nightmare Tip:</b> If the lights near the ghost are consistently on, and it frequently changes its favorite room to a dark area, it could be a Mare.
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Demon</h3>
                        <journal-entry>
                            <p>
                            A Demon is one of the worst ghosts you can encounter. It has been known to attack without reason.
                            </p>
                        </journal-entry>
                        <ul id='three-evidence'>
                            <li>Fingerprints</li>
                            <li>Ghost Writing</li>
                            <li>Freezing Temps</li>
                        </ul>
                        <div id="str-and-weak">
                            <p>
                            <b>Strength:</b> Demons will initiate hunts more often than other ghosts.
                            <br>
                            <br>
                            <b>Weakness:</b> Demons fear the Crucifix and will be less aggressive near one.
                            </p>
                        <div id="ghost-behavior">
                            <p>
                                To identify a demon, monitor hunt cooldown times and early hunt signs. Conserve sprint for quick escapes during sudden hunts due to their aggressiveness. Crucifixes have an extended range for easier hunt prevention. Demons can mislead with interactions to hide their true location, so diligently verify the correct Ghost Room using tools like the Thermometer.
                            </p>
                            <div id="ghost-tip">
                            <p>
                            <b>Note:</b> A Demon has a normal hunt sanity threshold of 70%, along with this they have a cooldown of 20 seconds between hunts. Smudging a demon will prevent a hunt for 60 seconds. As a weakness, the effective range of a crucifix is 5 metres instead of the standard 3 metres.
                            </p>
                            </div>
                            <div id="nightmare-tip">
                            <b>Nightmare Tip:</b> <i>None Required.</i>
                            </div>
                            </div>
                        </div>
                </li>
                <li>
                    <h3>Yokai</h3>
                        <journal-entry>
                            <p>
                            Yokai are common ghosts that are attracted to human voices. They can usually be found haunting family homes.
                            </p>
                        </journal-entry>
                        <ul id='three-evidence'>
                            <li>Spirit Box</li>
                            <li>Ghost Orb</li>
                            <li>D.O.T.S Projector</li>
                        </ul>
                        <div id="str-and-weak">
                            <p>
                            <b>Strength:</b> Talking near a Yokai will anger it, increasing the chance of an attack.
                            <br>
                            <br>
                            <b>Weakness:</b> When hunting, a Yokai can only hear voices close to it.
                            </p>
                        </div>
                </li>
                <li>
                    <h3>Myling</h3>
                        <journal-entry>
                            <p>
                            A Myling is a very vocal and active ghost. They are rumoured to be quiet when hunting their prey.
                            </p>
                        </journal-entry>
                        <ul id='three-evidence'>
                            <li>EMF 5</li>
                            <li>Fingerprints</li>
                            <li>Ghost Writing</li>
                        </ul>
                        <div id="str-and-weak">
                            <p>
                            <b>Strength:</b> A Myling is known to be quieter when hunting.
                            <br>
                            <br>
                            <b>Weakness:</b> Mylings make more frequent paranormal sounds.
                            </p>
                        </div>
                </li>
                <li>
                    <h3>Raiju</h3>
                    <journal-entry>
                            <p>
                            A Raiju is a demon that thrives on electrical current.
                            </p>
                            <p>
                            While generally calm, they can become agitated when overwhelmed with power.      
                            </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                            <li>EMF 5</li>
                            <li>Ghost Orb</li>
                            <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> A Raiju can siphon power from nearby electrical devices, making it move faster.
                        <br>
                        <br>
                        <b>Weakness:</b> Raiju are constantly disrupting electronic equipment when attacking, making it easier to track.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Moroi</h3>
                    <journal-entry>
                        <p>
                        Moroi have risen from the grave to drain energy from the living.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Ghost Writing</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> The weaker their victims, the stronger the Moroi becomes.
                        <br>
                        <br>
                        <b>Weakness:</b> Moroi suffer from hyperosmia, weakening them for longer periods.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Wraith</h3>
                    <journal-entry>
                    <p>
                    Wraiths are one of the most dangerous ghosts you will find.
                    </p>
                    <p>
                    It is also the only known ghost that has the ability of flight and has sometimes been known to travel through walls.
                    </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Spirit Box</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Wraiths almost never touch the ground, meaning it can't be tracked by footsteps.
                        <br>
                        <br>
                        <b>Weakness:</b> Wraiths are afraid of Salt and will actively avoid it.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Banshee</h3>
                    <journal-entry>
                    <p>    
                    The singing siren, known for attracting its victims through song.
                    </p>
                    <p>
                    It has been known to single out its prey before making a killing blow.
                    </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Fingerprints</li>
                        <li>Ghost Orb</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Banshees will weaken their target before striking.
                        <br>
                        <br>
                        <b>Weakness:</b> Banshees can sometimes be heard screaming with a parabolic microphone.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Revenant</h3>
                    <journal-entry>
                    <p>
                    A Revenant is a violent ghost that will attack indiscriminately.
                    </p>
                    <p>
                    Their speed can be deceiving, <br>as they are slow while dormant; however, as soon as they hunt they can move incredibly fast.</br>
                    </p></journal-entry>
                    <ul id='three-evidence'>
                        <li>Ghost Orb</li>
                        <li>Ghost Writing</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> A Revenant will travel at a significantly faster speed when hunting their prey.
                        <br>
                        <br>
                        <b>Weakness:</b> Hiding from the Revenant will cause it to move very slowly.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Yurei</h3>
                    <journal-entry>
                        <p>
                        A Yurei is a ghost that has returned to the physical world, usually for the purpose of revenge or hatred.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Ghost Orb</li>
                        <li>Freezing Temps</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Yureis have been known to have a stronger effect on people sanity.
                        <br>
                        <br>
                        <b>Weakness:</b> Smudging the Yurei's place of death will trap it temporarily, reducing how much it wanders.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Hantu</h3>
                    <journal-entry>
                        <p>
                        A Hantu is a rare ghost that thrives in the coldest climates. 
                        The cold seems to make them more aggressive and empowered.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Fingerprints</li>
                        <li>Ghost Orb</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Lower temperatures allow the Hantu to move at faster speeds.
                        <br>
                        <br>
                        <b>Weakness:</b> Hantus move slower in warmer areas.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Onryo</h3>
                    <journal-entry>
                        <p>
                        The Onryo is often referred to as "The Wrathful Spirit". It steals souls from dying victims' bodies to seek revenge.
                        </p>
                        <p>
                        This ghost has been known to fear any form of fire, and will do anything to be far from it.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Ghost Orb</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Extinguishing a flame can cause an Onryo to attack.
                        <br>
                        <br>
                        <b>Weakness:</b> When threatened, this ghost will be less likely to hunt.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Obake</h3>
                    <journal-entry>
                        <p>
                        Obake are terrifying shape-shifters, capable of taking on many forms. 
                        </p>
                        <p>
                        They have been seen taking on humanoid shapes to attract their prey.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Fingerprints</li>
                        <li>Ghost Orb</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> When interacting with the environment, an Obake will rarely leave a trace.
                        <br>
                        <br>
                        <b>Weakness:</b> Sometimes this ghost will shapeshift, leaving behind unique evidence.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Deogen</h3>
                    <journal-entry>
                        <p>
                        Sometimes surrounded by an endless fog, Deogen have been eluding ghost hunters for years. 
                        </p>
                        <p>
                        These ghosts have been reported to find even the most hidden prey, before stalking them into exhaustion.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Ghost Writing</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Deogens constantly sense the living. You can run but you can't hide.
                        <br>
                        <br>
                        <b>Weakness:</b> Deogens require a lot of energy to form and will move very slowly when approaching its victim.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Phantom</h3>
                    <journal-entry>
                        <p>
                        A Phantom is a ghost that can possess the living, inducing fear into those around it. 
                        </p>
                        <p>
                        They are most commonly summoned from Ouija Boards.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Fingerprints</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Looking at a Phantom will drop your sanity considerably faster.
                        <br>
                        <br>
                        <b>Weakness:</b> Taking a photo of the Phantom will make it temporarily disappear.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Jinn</h3>
                    <journal-entry>
                        <p>
                        A Jinn is a territorial ghost that will attack when threatened. 
                        </p>
                        <p>
                        It has also been known to be able to travel at significant speed.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Fingerprints</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> A Jinn will travel at a faster speed if its victim is far away.
                        <br>
                        <br>
                        <b>Weakness:</b> Turning off the location's power source will prevent the Jinn from using its ability.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Shade</h3>
                    <journal-entry>
                        <p>    
                        A Shade is known to be very shy. 
                        </p>    
                        <p>    
                        There is evidence to suggest that a Shade will stop all paranormal activity if there are people nearby.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Ghost Writing</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Shades are much harder to find.
                        <br>
                        <br>
                        <b>Weakness:</b> The ghost will not enter a hunt if there are people nearby.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Oni</h3>
                    <journal-entry>
                        <p>
                        Onis love to scare their victims as much as possible before attacking.
                        </p>
                        <p>
                        They are often seen in their physical form, guarding their place of death.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Freezing Temps</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Oni are more active whilst people are nearby and will drain their sanity faster when manifesting.
                        <br>
                        <br>
                        <b>Weakness:</b> Oni disappear less often while hunting their prey.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>Goryo</h3>
                    <journal-entry>
                        <p>
                        When a Goryo passes through a DOTS projector, using a video camera is the only way to see it.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Fingerprints</li>
                        <li>D.O.T.S Projector</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> A Goryo will usually only show itself on camera if there are no people nearby.
                        <br>
                        <br>
                        <b>Weakness:</b> They are rarely seen far from their place of death.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>The Twins</h3>
                    <journal-entry>
                        <p>
                        These ghosts have been reported to mimic each other's actions. They alternate their attacks to confuse their prey.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>EMF 5</li>
                        <li>Spirit Box</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Either Twin can be angered and initiate an attack on their prey.
                        <br>
                        <br>
                        <b>Weakness:</b> The Twins will often interact with the environment at the same time.
                        </p>
                    </div>
                </li>
                <li>
                    <h3>The Mimic</h3>
                    <journal-entry>
                        <p>
                        The Mimic is an elusive, mysterious, copycat ghost that mirrors traits and behaviours from others, including other ghost types.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Spirit Box</li>
                        <li>Fingerprints</li>
                        <li>Freezing Temps</li>
                    </ul>
                    <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> We're unsure what this ghost is capable of. Be careful.
                        <br>
                        <br>
                        <b>Weakness:</b> Several reports have noted ghost orb sightings near mimics.
                        </p>
                    </div>
                </li>
                <li><h3>Thaye</h3></h3>
                    <journal-entry>
                        <p>
                        Thaye have been known to rapidly age over time, even in the afterlife.
                        </p>
                        <p> 
                        From what we've learned, they seem to deteriorate faster while within the presence of the living.
                        </p>
                    </journal-entry>
                    <ul id='three-evidence'>
                        <li>Ghost Orb</li>
                        <li>Ghost Writing</li>
                        <li>D.O.T.S Projector</li>
                     </ul>
                     <div id="str-and-weak">
                        <p>
                        <b>Strength:</b> Upon entering the location, Thaye will become active, defensive and agile
                        <br>
                        <br>
                        <b>Weakness:</b> Thaye will weaken over time, making them weaker, slower and less aggressive
                        </p>
                    </div>
                </li>
            </ul> 
            <!-- End of my ghost lis -->


        <!-- This is the end of the "app" dont write past here -->
    </div>
    <br>
    <br>
        <div class="footer">
            <i class="fa fa-github" style="font-size:36px"></i>
            <a  href="https://github.com/Calen-Ray/Ghost-hunters-assistant"><h2>GitHub repo</h2></a>
            <p>Designed by: Evella, Rose, and Calen</p>
        </div>
    </body>
    <script src="app.js"></script>
    <script src="modal_logic.js"></script>
</html>